* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

/*html {
  background: url(img/parijs.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(245, 245, 245);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

/* new navbar */
nav {
  padding: 30px 30px;
  color: #333;
  text-decoration: none;
}

.menu {
  overflow: hidden;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

/*.item a {
  position: relative;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 0 5px;
  top: 0;
  transition: top ease-in-out 0.1s;
  text-shadow: rgb(214, 214, 214) 1px 0 10px;
}

.item a:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}
.item a:hover {
  color: rgb(87, 87, 87);
  transition: 0.3 ease-in;
  top: -2px;
}
.item a:hover::after {
  width: 100%;
}*/

.logo {
  font-family: "Oswald", sans-serif;
  font-style: italic;
  letter-spacing: 3px;
  text-shadow: rgb(214, 214, 214) 1px 0 10px;
}

.logo a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  top: 0;
  transition: top ease-in-out 0.1s;
  color: black;
}

.logo a:hover {
  top: -1px;
}

.toggle a {
  font-size: 20px;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
}
.bars {
  background: rgb(0, 0, 0);
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.bars:before,
.bars:after {
  background: rgb(0, 0, 0);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .toggle {
    order: 2;
  }
}

/*navbar removed effects when toggled */
@media (max-width: 768px) {
  .item a {
    color: #333;
  }

  .item a:hover {
    color: rgb(87, 87, 87);
    transition: 0.3 ease-in;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .menu li {
    padding: 15px 10px;
  }

  .item a {
    position: relative;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0 5px;
    top: 0;
    transition: top ease-in-out 0.1s;
    text-shadow: rgb(214, 214, 214) 1px 0 10px;
  }

  .item a:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
  }
  .item a:hover {
    color: rgb(87, 87, 87);
    transition: 0.3 ease-in;
    top: -2px;
  }
  .item a:hover::after {
    width: 100%;
  }
}

/* hero */
.hero {
  padding: 200px 0;
  background-color: #d6d6d6;
  color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-image: url(mountain2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-text {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.hero-h1 {
  margin-bottom: 1rem;
  color: #333;
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  animation: slideInFromLeft 1s ease-in;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.hero-paragraph {
  animation: slideInFromRight 1s ease-in;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.btn-hero {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: none;
  background-color: white;
  transition: transform 0.2s ease-in;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.card-hero {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 10px;
}

.btn-hero:hover {
  transform: translateY(-5px);
  color: #000;
  background-color: #f3f3f3;
}

.hero p {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 60%;
  color: rgb(41, 41, 41);
}

.arrow {
  text-align: center;
  margin-top: 30px;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.fa-arrow-down {
  color: white;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media (min-wdith: 800px) {
  .hero-text {
    width: 62%;
  }

  .hero-img {
    width: 32%;
  }
}

/* About */

.about {
  margin-top: 60px;
}

.column-one {
  margin: 10px;
  color: rgb(104, 103, 103);
}

.column-two {
  margin: 10px;
  color: rgb(104, 103, 103);
}

.about-h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2rem;
  color: #333;
}

/* skillset */

.skillset {
  margin-top: 60px;
}
.skillset .flex {
  flex-wrap: wrap;
}

.skillset .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.skillset-h2 {
  margin-bottom: 20px;
  color: #333;
}

.skillset .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.skillset .card:hover {
  transform: translateY(-15px);
}

.contact-box-card {
  margin: 0 auto;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: red;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.contact-h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.contact-h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #6f6f6f;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn-contact {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #090909;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-contact:hover {
  background-color: #6f6f6f;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
  cursor: pointer;
}
*/

/*footer*/

.footer {
  margin: 0 10px;
  color: black;
}

.footer-p {
  font-weight: bold;
}

.footer-info {
  padding: 20px;
}

/* utils */

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: rgb(218, 218, 218);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
}

.text-center {
  padding: 5px;
  text-align: center;
}

.column-one {
  margin: 10px;
  color: rgb(104, 103, 103);
}

.hidden {
  display: none;
}

.card {
  background-color: white;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.contact-box-card {
  background-color: white;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

i {
  color: rgb(0, 0, 0);
  transition: transform 0.2s ease-in;
}

.fab:hover {
  color: rgb(39, 39, 39);
  transform: translateY(-2px);
}

.big {
  font-size: 2rem;
}

.ls {
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .row {
    display: block;
  }
  .about-h1 {
    text-align: center;
  }
}

/*pre loader*/

.loader-container {
  width: 100%;
  height: 100vh;
  background-color: #111;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid;
  color: #ffffff;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}
