* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

/*html {
  background: url(img/parijs.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(245, 245, 245);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

/* new navbar */
nav {
  padding: 5px 20px;
  color: black;
  text-decoration: none;
}

.menu {
  overflow: hidden;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.item a {
  position: relative;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 0 5px;
  top: 0;
  transition: top ease-in-out 0.1s;
  text-shadow: rgb(214, 214, 214) 1px 0 10px;
}

.item a:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}
.item a:hover {
  color: rgb(87, 87, 87);
  transition: 0.3 ease-in;
  top: -2px;
}
.item a:hover::after {
  width: 100%;
}
.menu .logo {
  font-size: 2rem;
}
.logo {
  font-family: "Oswald", sans-serif;
  font-style: italic;
  letter-spacing: 3px;
  text-shadow: rgb(214, 214, 214) 1px 0 10px;
}

.logo a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  top: 0;
  transition: top ease-in-out 0.1s;
  color: black;
}

.logo a:hover {
  top: -1px;
}

.toggle a {
  font-size: 20px;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
}
.bars {
  background: rgb(0, 0, 0);
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.bars:before,
.bars:after {
  background: rgb(0, 0, 0);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .toggle {
    order: 2;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .menu li {
    padding: 15px 10px;
  }
}

/* header */

.header-image {
  position: relative;
  background: url(mountain.jpg);
  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  height: 500px;
  margin: 20px;
}

.header-image .text-img {
  font-family: "Oswald", sans-serif;
  position: absolute;
  color: white;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 30%;
  width: 60%;
  font-size: 4.5vw;
}

.showcase {
  height: 400px;
  background-color: rgb(202, 202, 204);
  color: white;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}

/*contact form */

.contact-box {
  margin: 0 auto;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.contact-box-container {
  margin: 0 auto;
}

.contact-h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.contact-h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #6f6f6f;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn-contact {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #090909;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-contact:hover {
  background-color: #6f6f6f;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
  cursor: pointer;
}

/*footer*/

.footer {
  margin: 0 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
}

/* skillset */
.skillset .flex {
  flex-wrap: wrap;
}

.skillset .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.skillset .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.skillset .card:hover {
  transform: translateY(-15px);
}

.hidden {
  display: none;
}

/* utils */

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: rgb(218, 218, 218);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
}

.text-center {
  padding: 5px;
  text-align: center;
}

.column-one {
  margin: 10px;
  color: rgb(104, 103, 103);
}

.column-two {
  margin: 10px;
  color: rgb(104, 103, 103);
}

.about-h1 {
  font-weight: bold;
  font-size: 2rem;
}

.card {
  background-color: white;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.contact-box-card {
  background-color: white;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

i {
  color: rgb(0, 0, 0);
}

.big {
  font-size: 2rem;
}

.ls {
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .row {
    display: block;
  }
  .about-h1 {
    text-align: center;
  }
}
